// Pallette here, https://coolors.co/dd7373-3b3561-ead94c-d1d1d1-51a3a3
$dark1: #3B3561;
$light1: #EAD94C;
$light2: #51A3A3;
$neutral1: #D1D1D1;
$neutral2: #eded80;
$danger1: #DD7373;
$white: white;

$font-family: Arial;

$gutter: 1rem;
$border-radius: 0.25rem;

$breakpoint-small: 768px;

* {
	box-sizing : border-box;
}

body {
	background: darken($dark1, 8%);
	font-family: $font-family;
	margin: 0px;
	color: $white;
}

#app {
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	
	&>header {
		flex: 0 0 auto;
	}
	
	&>main {
		margin: 1rem;
		flex: 1 0 auto;
	}
	
	&>footer {
		background: darken($dark1, 10%);
		color: $light1;
		height: 8rem;
		padding: 1rem;
		flex: 0 0 auto;
	}
}


ul {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

.is-list-root {
	-webkit-padding-start: 0px;
}

input {
	outline: none;
	color: $white;
	background:none;
	border: none;
	border-bottom: 2px solid $white;
	
	&.light2 {
		color: $light2;
		border-bottom: 2px dashed darken($light2, 10%);
		&::placeholder {
			color: darken($light2, 10%);
		}
	}
	
	&.light1 {
		color: $light1;
		border-bottom: 2px dashed darken($light1, 20%);
		&::placeholder {
			color: darken($light1, 20%);
		}
	}
	
	&.danger1 {
		color: $danger1;
		border-bottom: 2px dashed $danger1;
		&::placeholder {
			color: darken($danger1, 20%);
		}
	}
	
	&.blue {
		color: $neutral1;
		border-bottom: 2px solid $neutral1;
	}
	
	&.big {
		font-size: 2rem;
		padding: 0.25rem;
	}
	
	&.full-width {
		width: 100%;
	}
	
	&.more-margin {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	
	&.no-border {
		border: none;
	}
}

.row {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	&>* {
		flex: 0 0 auto;
	}
}

.width-2 {
	flex: 1 0 auto;
	width: calc(100%*2/12 - #{$gutter});
}


.width-5 {
	flex: 1 0 auto;
	width: calc(100%*5/12 - #{$gutter});
}

.width-7 {
	flex: 1 0 auto;
	width: calc(100%*7/12 - #{$gutter});
}

.width-12 {
	flex: 1 0 auto;
	width: calc(100% - #{$gutter});
}

.min-width-18 {
	min-width: 18rem;
}

.min-width-17 {
	min-width: 17rem;
}

// 
// NAV STUFF
// 
#app>header {
	height: 5rem;
	background: $dark1;
	
	.nav {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: baseline;
		
		a {
			text-decoration: none;
		}
		
		@media(min-width: $breakpoint-small) {
			.logo {
				height: 5rem;
				display: block;
				flex: 0 0 auto;
				background: $danger1;
				color: $light1;
				font-size: 2.5rem;
				font-weight: bold;
				padding: 1rem 2rem 1rem 2rem;
			}
			
			.logo-sm {
				display: none;
			}
			
			.title-input {
				flex: 1 0 auto;
				padding: 0 3em 0 3em;
				
				input {
					width: 80%;
					font-size: 2rem;
					&::placeholder {
						color: darken($light1, 20%);
					}
				}	min-width: 17rem;
				
			}
			
			.export-data {
				height: 5rem;
				display: block;
				flex: 0 0 auto;
				background: $danger1;
				color: $light1;
				font-size: 2.5rem;
				font-weight: bold;
				padding: 1rem 2rem 1rem 2rem;
				align-self: stretch;
				border: none;
				border-radius: 0px;
				&:hover {
					background: darken($danger1, 10%);
				}
			}
		}
		
		@media(max-width: $breakpoint-small) {
			.logo {
				display: none;
				flex: 0 0 auto;
				background: $danger1;
				color: $light1;
				font-size: 2.5rem;
				font-weight: bold;
				padding: 1rem 2rem 1rem 2rem;
			}
			
			.logo-sm {
				display: block;
				flex: 0 0 auto;
				background: $danger1;
				color: $light1;
				font-size: 2.5rem;
				font-weight: bold;
				padding: 1rem 2rem 1rem 2rem;
			}
			
			.title-input {
				flex: 1 0 auto;
				padding: 0 3em 0 3em;
				
				input {
					width: 100%;
					font-size: 2rem;
				}
			}
		}
	}
}

// 
// TASK LIST STUFF
// 
.task-list {
	list-style: none;
}

.task-list-item {
	padding: 0.5rem 0 0 0;
	font-weight: bold;
	border-radius: $border-radius;
	cursor: pointer;
	
	.sub-task-count {
		padding: 0.5rem 0.725rem 0.5rem 0.725rem;
		background: $danger1;
		color: $dark1;
		border-top-left-radius: .25rem;
		border-bottom-left-radius: .25rem;
	}
	.task-title {
		padding: 0.5rem 0.725rem 0.5rem 0.725rem;
		background: $light1;
		color: $dark1;
		// border-top-right-radius: .25rem;
		// border-bottom-right-radius: .25rem;
	}
	.stopwatch {
		position: relative;
		top: 0.1rem;
		font-size: 1.25rem;
		color: $danger1;
		small {
			font-size: 1.25rem;
			margin-left: 0.5rem;
		}
	}
	
	.task-title-tip {
		position: relative;
		left: -0.05rem;
		padding-top: 0.6rem;
		overflow: visible;
		zoom: 1;
		.pencil-wood {
			fill: lighten($light1, 10%);
		}
		.pencil-lead {
			fill: desaturate($dark1, 25%);
		}
		.pencil-lead.timer-active-children {
			fill: $light2;
		}
		.pencil-lead.timer-active {
			fill: $danger1;
		}
		.pencil-lead.show-children {
			transform: rotate(0.25turn) translateY(-2.6rem);
		}
	}
	
	&.big {
		zoom: 200%;
		padding: 0;
		position: relative;
		top: -1.5rem;
		display: flex;
		align-items: stretch;
		margin-bottom: -1rem;
		
		.task-title-tip {
			top: -0.55rem;
			left: 0.333rem;
			zoom: 0.8;
			align-self: center;
		}
		
		.task-title {
			width: 85%;
			font-weight: bold;
			outline: none;
			border: none;
			resize: none;
			border-bottom: 2px dashed $dark1;
		}	
		
		.stopwatch {
			display: none;
		}
	}
	
	&.is-complete {
		>.sub-task-count {
			opacity: 0.25;
		}
		>.task-title {
			opacity: 0.25;
		}
		>.task-title-tip {
			opacity: 0.25;
		}
		>.stopwatch {
			opacity: 0.25;
		}
		
		&.has-incomplete-children {
			>.sub-task-count {
				opacity: 0.5;
			}
			>.task-title {
				opacity: 0.5;
			}
			>.task-title-tip {
				opacity: 0.5;
			}
			>.stopwatch {
				opacity: 0.5;
			}
	
		}
	}
}


// Shared Stuff
button {
	background: $neutral1;
	border: 2px solid $neutral1;
	border-radius: $border-radius;
	padding: 0.5rem 0.725rem 0.5rem 0.725rem;
	color: $dark1;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	
	&:hover {
		background: darken($neutral1, 15%);
		border: 2px solid darken($neutral1, 15%);
	}
	&.outline {
		background: none;
		color: $neutral1;
		&:hover {
			color: darken($neutral1, 15%);
		}
	}
	
	&.light1 {
		background: $light1;
		border: 2px solid $light1;
		color: $dark1;
		&:hover {
			background: darken($light1, 15%);
			border: 2px solid darken($light1, 15%);
		}
		&.outline {
			background: none;
			color: $light1;
			&:hover {
				color: darken($light1, 15%);
			}
		}
	}
	
	&.magenta {
		background: $danger1;
		border: 2px solid $danger1;
		color: $dark1;
		&:hover {
			background: darken($danger1, 15%);
			border: 2px solid darken($danger1, 15%);
		}
		&.outline {
			background: none;
			color: $danger1;
			&:hover {
				color: darken($danger1, 15%);
			}
		}
	}
	
	&.light2 {
		background: $light2;
		border: 2px solid $light2;
		color: $dark1;
		&:hover {
			background: darken($light2, 20%);
			border: 2px solid darken($light2, 20%);
		}
		&.outline {
			background: none;
			color: $light2;
			&:hover {
				color: darken($light2, 20%);
			}
		}
	}
	
	&.dark {
		background: $dark1;
		border: 2px solid $dark1;
		color: darken($dark1, 8%);
		&:hover {
			background: darken($dark1, 5%);
			border: 2px solid darken($dark1, 5%);
		}
		&.outline {
			background: none;
			color: $dark1;
		}
	}
	
	&.full-width {
		width: 100%;
	}
}

.border-group {
	display: flex;
	
	&.border-group--horizontal {
		flex-direction: row;
		&>*:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		
		&>*:not(:first-child):not(:last-child) {
			border-radius: 0;
		}
		
		&>*:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		
		&>*:only-child {
			border-radius: $border-radius;
		}
	}
	
	&.border-group--vertical {
		flex-direction: column;
		&>*:first-child {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		
		&>*:not(:first-child):not(:last-child) {
			border-radius: 0;
		}
		
		&>*:last-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		
		&>*:only-child {
			border-radius: $border-radius;
		}
	}
	
}

.centered-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.grow {
	flex-grow: 1;
}

.task-card {
	padding: 0.25rem;
	border: 2px solid $danger1;
	border-radius: $border-radius;
	
	main {
		margin: 2rem 3rem 2rem 2rem;
	}
}

.bread-crumbs {
	color: lighten($dark1, 25%); 
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

// TODO: Move outlines to elements 
.task-description {
	outline: none;
	width: 100%;
	font-size: 1.5rem;
	background: none;
	color: $light1;
	border: none;
	border-left: 2px dashed $light1;
	border-bottom: 2px dashed $light1;
	margin-top: 1rem;
	padding: 0.5rem;
	&::placeholder {
		color: darken($light1, 10%);
	}
}

.stopwatch {
	font-size: 2.5rem;
	color: $light2;
	
	&.timer-in-progress {
		color: $danger1;
	}
}


.task-list-empty {
	width: 100%;
	.empty-list-drag-area {
		height: 2.5rem;
		.empty-drag-area {
			position: relative;
			top: 0.825rem;
			width: 17rem;
			color: $neutral2;
			border: 2px dashed $neutral2;
			padding: 0.5rem;
			
			input {
				width: 17rem;
				font-weight: bold;
			}
		}
	}
}

.sub-task-input {
	width: 15rem;
	font-weight: bold;
	color: $neutral2;
	border: 2px dashed $neutral2;
	padding: 0.5rem;
}

.light1 {
	color: $light1;
}

.margin-bottom-0_5 {
	margin-bottom: 0.5rem;
}

.task-list-separator {
	border: none;
	border-bottom: 2px dashed darken($dark1, 20%);
	margin-top: 1rem;
	margin-bottom: -0.5rem;
	margin-left: 0;
	width: 85%;
}

.no-complete-tasks, .no-incomplete-tasks, .empty-task-stack {
	width: 85%;
	border: 2px dashed darken($dark1, 20%);
	border-radius: $border-radius;
	padding: 2rem;
	margin: 1rem 0 0 0;
	color: $light2;
	font-weight: bold;
	text-align: center;
}
