.light1 {
  color: #EAD94C;
}

.poptart {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;
  pointer-events: none;
}

.poptart .poptart-spacer {
  flex: 1 0 auto;
}

.poptart .poptart-content {
  flex: 0 0 auto;
  pointer-events: all;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.poptart .poptart-content ul {
  width: 30rem;
  padding: 0.75rem;
  background: #13111f;
  list-style: none;
  color: #51A3A3;
  text-align: center;
}

.list-enter-active, .list-leave-active {
  transition: opacity .5s;
}

.list-enter, .list-leave-to {
  opacity: 0;
}

.is-list-root {
  -webkit-padding-start: 0px;
}

.task-list {
  list-style: none;
}

.task-list-item {
  padding: 0.5rem 0 0 0;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
}

.task-list-item .sub-task-count {
  padding: 0.5rem 0.725rem 0.5rem 0.725rem;
  background: #DD7373;
  color: #3B3561;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.task-list-item .task-title {
  padding: 0.5rem 0.725rem 0.5rem 0.725rem;
  background: #EAD94C;
  color: #3B3561;
}

.task-list-item .stopwatch {
  position: relative;
  top: 0.1rem;
  font-size: 1.25rem;
  color: #DD7373;
}

.task-list-item .stopwatch small {
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.task-list-item .task-title-tip {
  position: relative;
  left: -0.05rem;
  padding-top: 0.6rem;
  overflow: visible;
  zoom: 1;
}

.task-list-item .task-title-tip .pencil-wood {
  fill: #efe37a;
}

.task-list-item .task-title-tip .pencil-lead {
  fill: #49484e;
}

.task-list-item .task-title-tip .pencil-lead.timer-active-children {
  fill: #51A3A3;
}

.task-list-item .task-title-tip .pencil-lead.timer-active {
  fill: #DD7373;
}

.task-list-item .task-title-tip .pencil-lead.show-children {
  transform: rotate(0.25turn) translateY(-2.6rem);
}

.task-list-item.big {
  zoom: 200%;
  padding: 0;
  position: relative;
  top: -1.5rem;
  display: flex;
  align-items: stretch;
  margin-bottom: -1rem;
  margin-top: 2.5rem;
}

.task-list-item.big .task-title-tip {
  top: -0.55rem;
  left: 0.333rem;
  zoom: 0.8;
  align-self: center;
}

.task-list-item.big .task-title {
  width: 85%;
  font-weight: bold;
  outline: none;
  border: none;
  resize: none;
  border-bottom: 2px dashed #3B3561;
}

.task-list-item.big .stopwatch {
  display: none;
}

.task-list-item.is-complete > .sub-task-count {
  opacity: 0.25;
}

.task-list-item.is-complete > .task-title {
  opacity: 0.25;
}

.task-list-item.is-complete > .task-title-tip {
  opacity: 0.25;
}

.task-list-item.is-complete > .stopwatch {
  opacity: 0.25;
}

.task-list-item.is-complete.has-incomplete-children > .sub-task-count {
  opacity: 0.5;
}

.task-list-item.is-complete.has-incomplete-children > .task-title {
  opacity: 0.5;
}

.task-list-item.is-complete.has-incomplete-children > .task-title-tip {
  opacity: 0.5;
}

.task-list-item.is-complete.has-incomplete-children > .stopwatch {
  opacity: 0.5;
}

.task-list-separator {
  border: none;
  border-bottom: 2px dashed #13111f;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
  margin-left: 0;
  width: 85%;
}

.task-list-empty {
  width: 100%;
}

.task-list-empty .empty-list-drag-area {
  height: 2.5rem;
}

.task-list-empty .empty-list-drag-area .empty-drag-area {
  position: relative;
  top: 0.825rem;
  width: 17rem;
  color: #eded80;
  border: 2px dashed #eded80;
  padding: 0.5rem;
}

.task-list-empty .empty-list-drag-area .empty-drag-area input {
  width: 17rem;
  font-weight: bold;
}

.task-card {
  padding: 0.25rem;
  border: 2px solid #DD7373;
  border-radius: 0.25rem;
}

.task-card main {
  margin: 2rem 3rem 2rem 2rem;
}

.bread-crumbs {
  color: #7269ad;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.task-description {
  outline: none;
  width: 100%;
  font-size: 1.5rem;
  background: none;
  color: #EAD94C;
  border: none;
  border-left: 2px dashed #EAD94C;
  border-bottom: 2px dashed #EAD94C;
  margin-top: 1rem;
  padding: 0.5rem;
}

.task-description::placeholder {
  color: #e5cf1e;
}

.sub-task-input {
  width: 15rem;
  font-weight: bold;
  color: #eded80;
  border: 2px dashed #eded80;
  padding: 0.5rem;
}

.min-width-18 {
  min-width: 18rem;
}

.min-width-17 {
  min-width: 17rem;
}

.grow {
  flex-grow: 1;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-bottom-0_5 {
  margin-bottom: 0.5rem;
}

* {
  box-sizing: border-box;
}

body {
  background: #2b2747;
  font-family: Arial;
  margin: 0px;
  color: white;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

#app > header {
  flex: 0 0 auto;
}

#app > main {
  margin: 1rem;
  flex: 1 0 auto;
}

#app > footer {
  background: #272340;
  color: #EAD94C;
  height: 8rem;
  padding: 1rem;
  flex: 0 0 auto;
}

ul {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  list-style: none;
}

input {
  outline: none;
  color: white;
  background: none;
  border: none;
  border-bottom: 2px solid white;
}

input.light2 {
  color: #51A3A3;
  border-bottom: 2px dashed #408181;
}

input.light2::placeholder {
  color: #408181;
}

input.light1 {
  color: #EAD94C;
  border-bottom: 2px dashed #baa816;
}

input.light1::placeholder {
  color: #baa816;
}

input.danger1 {
  color: #DD7373;
  border-bottom: 2px dashed #DD7373;
}

input.danger1::placeholder {
  color: #bc2e2e;
}

input.blue {
  color: #D1D1D1;
  border-bottom: 2px solid #D1D1D1;
}

input.big {
  font-size: 2rem;
  padding: 0.25rem;
}

input.full-width {
  width: 100%;
}

input.more-margin {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

input.no-border {
  border: none;
}

.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.row > * {
  flex: 0 0 auto;
}

.width-2 {
  flex: 1 0 auto;
  width: calc(100%*2/12 - 1rem);
}

.width-5 {
  flex: 1 0 auto;
  width: calc(100%*5/12 - 1rem);
}

.width-7 {
  flex: 1 0 auto;
  width: calc(100%*7/12 - 1rem);
}

.width-12 {
  flex: 1 0 auto;
  width: calc(100% - 1rem);
}

#app > header {
  height: 5rem;
  background: #3B3561;
}

#app > header .nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline;
}

#app > header .nav a {
  text-decoration: none;
}

@media (min-width: 768px) {
  #app > header .nav .logo {
    height: 5rem;
    display: block;
    flex: 0 0 auto;
    background: #DD7373;
    color: #EAD94C;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
  }
  #app > header .nav .logo-sm {
    display: none;
  }
  #app > header .nav .title-input {
    flex: 1 0 auto;
    padding: 0 3em 0 3em;
    min-width: 17rem;
  }
  #app > header .nav .title-input input {
    width: 80%;
    font-size: 2rem;
  }
  #app > header .nav .title-input input::placeholder {
    color: #baa816;
  }
  #app > header .nav .export-data {
    height: 5rem;
    display: block;
    flex: 0 0 auto;
    background: #DD7373;
    color: #EAD94C;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
    align-self: stretch;
    border: none;
    border-radius: 0px;
  }
  #app > header .nav .export-data:hover {
    background: #d34a4a;
  }
}

@media (max-width: 768px) {
  #app > header .nav .logo {
    display: none;
    flex: 0 0 auto;
    background: #DD7373;
    color: #EAD94C;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
  }
  #app > header .nav .logo-sm {
    display: block;
    flex: 0 0 auto;
    background: #DD7373;
    color: #EAD94C;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
  }
  #app > header .nav .title-input {
    flex: 1 0 auto;
    padding: 0 3em 0 3em;
  }
  #app > header .nav .title-input input {
    width: 100%;
    font-size: 2rem;
  }
}

button {
  background: #D1D1D1;
  border: 2px solid #D1D1D1;
  border-radius: 0.25rem;
  padding: 0.5rem 0.725rem 0.5rem 0.725rem;
  color: #3B3561;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: #ababab;
  border: 2px solid #ababab;
}

button.outline {
  background: none;
  color: #D1D1D1;
}

button.outline:hover {
  color: #ababab;
}

button.light1 {
  background: #EAD94C;
  border: 2px solid #EAD94C;
  color: #3B3561;
}

button.light1:hover {
  background: #d1bd19;
  border: 2px solid #d1bd19;
}

button.light1.outline {
  background: none;
  color: #EAD94C;
}

button.light1.outline:hover {
  color: #d1bd19;
}

button.magenta {
  background: #DD7373;
  border: 2px solid #DD7373;
  color: #3B3561;
}

button.magenta:hover {
  background: #ce3535;
  border: 2px solid #ce3535;
}

button.magenta.outline {
  background: none;
  color: #DD7373;
}

button.magenta.outline:hover {
  color: #ce3535;
}

button.light2 {
  background: #51A3A3;
  border: 2px solid #51A3A3;
  color: #3B3561;
}

button.light2:hover {
  background: #2f5f5f;
  border: 2px solid #2f5f5f;
}

button.light2.outline {
  background: none;
  color: #51A3A3;
}

button.light2.outline:hover {
  color: #2f5f5f;
}

button.dark {
  background: #3B3561;
  border: 2px solid #3B3561;
  color: #2b2747;
}

button.dark:hover {
  background: #312c51;
  border: 2px solid #312c51;
}

button.dark.outline {
  background: none;
  color: #3B3561;
}

button.full-width {
  width: 100%;
}

.border-group {
  display: flex;
}

.border-group.border-group--horizontal {
  flex-direction: row;
}

.border-group.border-group--horizontal > *:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.border-group.border-group--horizontal > *:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.border-group.border-group--horizontal > *:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.border-group.border-group--horizontal > *:only-child {
  border-radius: 0.25rem;
}

.border-group.border-group--vertical {
  flex-direction: column;
}

.border-group.border-group--vertical > *:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.border-group.border-group--vertical > *:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.border-group.border-group--vertical > *:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.border-group.border-group--vertical > *:only-child {
  border-radius: 0.25rem;
}

.centered-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.stopwatch {
  font-size: 2.5rem;
  color: #51A3A3;
}

.stopwatch.timer-in-progress {
  color: #DD7373;
}

.no-complete-tasks, .no-incomplete-tasks, .empty-task-stack {
  width: 85%;
  border: 2px dashed #13111f;
  border-radius: 0.25rem;
  padding: 2rem;
  margin: 1rem 0 0 0;
  color: #51A3A3;
  font-weight: bold;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */