* {
  box-sizing: border-box;
}

body {
  background: #2b2747;
  font-family: Arial;
  margin: 0px;
  color: white;
}

#app > main {
  margin: 1rem;
}

ul {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

.no-padding-start {
  -webkit-padding-start: 0px;
}

input {
  outline: none;
  color: white;
  background: none;
  border: none;
  border-bottom: 2px solid white;
}

input.light2 {
  color: #51A3A3;
  border-bottom: 2px dashed #1e3d3d;
}

input.light2::placeholder {
  color: black;
}

input.light1 {
  color: #EAD94C;
  border-bottom: 2px dashed #baa816;
}

input.light1::placeholder {
  color: #baa816;
}

input.blue {
  color: #D1D1D1;
  border-bottom: 2px solid #D1D1D1;
}

input.big {
  font-size: 2rem;
  padding: 0.25rem;
}

input.full-width {
  width: 100%;
}

input.more-margin {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.row > * {
  flex: 0 0 auto;
}

.width-2 {
  flex: 1 0 auto;
  width: calc(100%*2/12 - 1rem);
}

.width-5 {
  flex: 1 0 auto;
  width: calc(100%*5/12 - 1rem);
}

.width-7 {
  flex: 1 0 auto;
  width: calc(100%*7/12 - 1rem);
}

.width-12 {
  flex: 1 0 auto;
  width: calc(100% - 1rem);
}

.min-width-18 {
  min-width: 18rem;
}

#app > header {
  height: 5rem;
  background: #3B3561;
}

#app > header .nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline;
}

@media (min-width: 768px) {
  #app > header .nav .logo {
    display: block;
    flex: 0 0 auto;
    background: #DD7373;
    color: #EAD94C;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
  }
  #app > header .nav .logo-sm {
    display: none;
  }
  #app > header .nav .title-input {
    flex: 1 0 auto;
    padding: 0 3em 0 3em;
    min-width: 17rem;
  }
  #app > header .nav .title-input input {
    width: 80%;
    font-size: 2rem;
  }
  #app > header .nav .title-input input::placeholder {
    color: #baa816;
  }
}

@media (max-width: 768px) {
  #app > header .nav .logo {
    display: none;
    flex: 0 0 auto;
    background: #DD7373;
    color: #EAD94C;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
  }
  #app > header .nav .logo-sm {
    display: block;
    flex: 0 0 auto;
    background: #DD7373;
    color: #EAD94C;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 2rem 1rem 2rem;
  }
  #app > header .nav .title-input {
    flex: 1 0 auto;
    padding: 0 3em 0 3em;
  }
  #app > header .nav .title-input input {
    width: 100%;
    font-size: 2rem;
  }
  #app > header .nav .title-input input::placeholder {
    color: #0d1b1b;
  }
}

.task-list {
  list-style: none;
}

.task-list .task-list-item {
  padding: 0.5rem 0 0.5rem 0;
  font-weight: bold;
  border-radius: 0.25rem;
  line-height: 2rem;
}

.task-list .task-list-item .sub-task-count {
  padding: 0.5rem 0.725rem 0.5rem 0.725rem;
  background: #DD7373;
  color: #3B3561;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.task-list .task-list-item .task-title {
  padding: 0.5rem 0.725rem 0.5rem 0.725rem;
  background: #EAD94C;
  color: #3B3561;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

button {
  background: #D1D1D1;
  border: 2px solid #D1D1D1;
  border-radius: 0.25rem;
  padding: 0.5rem 0.725rem 0.5rem 0.725rem;
  color: #3B3561;
  font-weight: bold;
  outline: none;
}

button:hover {
  background: #ababab;
  border: 2px solid #ababab;
}

button.outline {
  background: none;
  color: #D1D1D1;
}

button.outline:hover {
  color: #ababab;
}

button.light1 {
  background: #EAD94C;
  border: 2px solid #EAD94C;
  color: #3B3561;
}

button.light1:hover {
  background: #d1bd19;
  border: 2px solid #d1bd19;
}

button.light1.outline {
  background: none;
  color: #EAD94C;
}

button.light1.outline:hover {
  color: #d1bd19;
}

button.magenta {
  background: #DD7373;
  border: 2px solid #DD7373;
  color: #3B3561;
}

button.magenta:hover {
  background: #ce3535;
  border: 2px solid #ce3535;
}

button.magenta.outline {
  background: none;
  color: #DD7373;
}

button.magenta.outline:hover {
  color: #ce3535;
}

button.light2 {
  background: #51A3A3;
  border: 2px solid #51A3A3;
  color: #3B3561;
}

button.light2:hover {
  background: #2f5f5f;
  border: 2px solid #2f5f5f;
}

button.light2.outline {
  background: none;
  color: #51A3A3;
}

button.light2.outline:hover {
  color: #2f5f5f;
}

button.dark {
  background: #3B3561;
  border: 2px solid #3B3561;
  color: #2b2747;
}

button.dark:hover {
  background: #312c51;
  border: 2px solid #312c51;
}

button.dark.outline {
  background: none;
  color: #3B3561;
}

button.full-width {
  width: 100%;
}

.border-group-horizontal {
  display: flex;
  flex-direction: row;
}

.border-group-horizontal > *:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.border-group-horizontal > *:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.border-group-horizontal > *:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.border-group-horizontal > *:only-child {
  border-radius: 0.25rem;
}

.border-group-vertical {
  display: flex;
  flex-direction: column;
}

.border-group-vertical > *:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.border-group-vertical > *:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.border-group-vertical > *:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.border-group-vertical > *:only-child {
  border-radius: 0.25rem;
}

.centered-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grow {
  flex-grow: 1;
}

.task-card {
  padding: 0.25rem;
  border: 2px solid #DD7373;
  border-radius: 0.25rem;
}

.task-card main {
  margin: 2rem 3rem 2rem 2rem;
}

.bread-crumbs {
  color: #7269ad;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.task-description {
  width: 100%;
  font-size: 1.5rem;
  background: none;
  color: #51A3A3;
  border: none;
  border-left: 2px dashed #51A3A3;
  border-bottom: 2px dashed #51A3A3;
  margin-top: 1rem;
  padding: 0.5rem;
}

.task-description::placeholder {
  color: #1e3d3d;
}

.stopwatch {
  font-size: 3rem;
  color: #DD7373;
}

.stopwatch.timer-in-progress {
  color: #EAD94C;
}
/*# sourceMappingURL=style.css.map */