<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tasker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- LIVE RELOAD -->
    <script>document.write('<script src="http://' + (location.host || '${1:localhost}').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <!-- VUE -->
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/sortable/1.4.2/Sortable.min.js"></script>
    <script src="https://cdn.rawgit.com/David-Desmaisons/Vue.Draggable/master/dist/vuedraggable.min.js"></script>
    <!-- MOMENT -->
    <script src="js/moment.js"></script>
    <script src="js/autosize.min.js"></script>
    <!-- MY STYLES -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <header class="mdl-layout__header">
            <nav class="nav">
                <a href="#" class="logo">Tasker</a>
                <a href="#" class="logo-sm">T</a>
                <div class="title-input">
                    <input type="text" id="title-input" class="light1" placeholder="New Task Title . . ." @keyup.enter="addTask" v-model="headerInput"/>
                </div>
                <button @click="exportData()" class="button-flat danger1 export-data">
                    Export Data
                </button>
            </nav>
        </header>
        
        <main>
            <div class="row">
                <!-- LEFT COLUMN -->
                <div class="width-5">
                        <task-list conditional="showIncompletes" :show-children="true" :tasks="tasks" :search-input="searchInput" :is-list-root="true" @click-task="inTask => focusTask(inTask)"></task-list>
                        <div class="no-incomplete-tasks" v-if="!hasIncompleteChildren">
                                No Top-Level Tasks in Progress!<br/><br/>
                                Add some new tasks (or un-complete some complete tasks) to populate this list
                            </div>                        
                            <hr class="task-list-separator"/>
                        <task-list conditional="showCompletes" :show-children="true" :tasks="tasks" :search-input="searchInput" :is-list-root="true" @click-task="inTask => focusTask(inTask)"></task-list>
                        <div class="no-complete-tasks" v-if="!hasCompleteChildren">
                            No Top-Level Complete Tasks!<br/><br/>
                            Complete some tasks to populate this list.
                        </div>                        
                    </div>
                <!-- RIGHT COLUMN -->
                <div class="width-7 border-group border-group--vertical">
                    <button  v-show="taskStack.tasks.length != 0" @click="clearStack()" class="magenta full-width">
                        Clear Task Stack
                    </button>
                    <task-card v-for="(task, index) in taskStack.tasks" :key="task.id" :task="task" :tasks="tasks" :search-input="searchInput" @clear-task-from-stack="inTask => clearTaskFromStack(inTask)" @specific-click-task="inTask => specificClickTask(inTask)"  @delete-task="inTask => deleteTask(inTask)"></task-card>
                    <div v-if="taskStack.tasks.length == 0 && tasks.length > 0">
                        <div class="empty-task-stack">Double Click on any task to view its detail</div>
                    </div>
                </div>
            </div>
        </main>
        <footer>Tasker is PRE-ALPHA software and is offered with NO GUARANTEES OF ANY KIND. PREPARE FOR DATA LOSS.</footer>
    </div>
</body>

<!-- TEMPLATES -->
<script id="task-list-item" type="text/x-template">
    <li v-if="!taskCardHeading" class="task-list-item" :class="{'search-result': isSearchResult, 'non-search-result': !isSearchResult, 'is-complete': isComplete, 'has-incomplete-children': hasIncompleteChildren}">
        <span class="sub-task-count" v-text="task.tasks.length" @click="toggleChildren();"  @dblclick="focusTask()"></span>
        <span class="task-title" v-text="$options.filters.truncate(task.title, 40, ' . . .')" @click="toggleChildren()" @dblclick="focusTask()"></span>
        <svg height="30" width="40" class="task-title-tip" @click="toggleChildren()" >
            <polygon class="pencil-wood" points="0,0 16,7.5 16,22.5 0,30" />
            <polygon class="pencil-lead" :class="{'timer-active': hasActiveTimer, 'timer-active-children': hasActiveTimerChildren, 'show-children': showChildren}" points="20,9 20,21 31,15"/>
        </svg>
        <span v-if="hasActiveTimer" class="stopwatch"  @dblclick="focusTask()">{{ stopwatch }}<small v-text="$options.filters.truncate(timerTitle, 20, ' . . .')"></small></span>
        <task-list :show-children="showChildren" :tasks="task.tasks" :search-input="searchInput" @specific-click-task="inTask => $emit('specific-click-task', inTask)" @click-task="inTask => $emit('click-task', inTask)"></task-list>            
    </li>
    <div v-else class="task-list-item big">
        <span class="sub-task-count" v-text="task.tasks.length" ></span>
        <input v-autosize="task.title" class="task-title" v-model="task.title" ></input>
        <svg height="30" width="40" class="task-title-tip" >
            <polygon class="pencil-wood" points="0,0 16,7.5 16,22.5 0,30" />
            <polygon class="pencil-lead" :class="{'timer-active': hasActiveTimer, 'timer-active-children': hasActiveTimerChildren, 'show-children': showChildren}" points="20,9 20,21 31,15"/>
        </svg>
    </div>
</script>

<script id="task-list" type="text/x-template">
    <ul class="task-list" :class="{'is-list-root': isListRoot, 'task-list-empty': tasks.length == 0}">
        <draggable element="div" :list="tasks" :component-data="{newTask}" :options="{group: 'tasks'}" v-show="showChildren" class="empty-list-drag-area">
            <task-list-item v-for="(task, index) in tasks" v-if="conditionalResult(task)" :key="task.id" :task="task" :search-input="searchInput" @click-task="inTask => $emit('click-task', inTask)" @specific-click-task="inTask => $emit('specific-click-task', inTask)" ></task-list-item>
            <div class="empty-drag-area" v-show="tasks.length == 0">
                <input class="light1 no-border" type="text" v-model="newTaskTitle" @keyup.enter="newTask()" :placeholder="isListRoot ? 'Type a Task Title to get started':'Type Sub-Task Title or Drag Task Here'"/>
            </div>
        </draggable>
    </ul>
</script>

<script id="task-card" type="text/x-template">
    <div class="task-card">
        <header class="centered-row border-group border-group--horizontal">
            <button class="light1" :class="{grow: tab == 'details', outline: tab != 'details' }" @click="setTab('details')">Task Details</button>
            <button class="light1" :class="{grow: tab == 'times', outline: tab != 'times' }" @click="setTab('times')">Time Logs</button>
            <button class="light1" :class="{grow: tab == 'calendar', outline: tab != 'calendar' }" @click="setTab('calendar')">Task Calendar</button>
        </header>
        <main>
            <div v-show="tab == 'details'">
                <task-list-item :task="task" :task-card-heading="true"></task-list-item>
                <p class="bread-crumbs" v-text="breadCrumbs"></p>
                <textarea class="task-description" v-model="task.description" v-autosize="task.description" placeholder="Enter Task Description . . ."></textarea>
                <task-card-timer :times="task.times"></task-card-timer>
                <input v-if="task.tasks.length > 0" class="sub-task-input light1" type="text" v-model="newTaskTitle" @keyup.enter="addTask()" placeholder="Type Sub-Task Title and hit return"/>
                <task-list :show-children="true" :tasks="task.tasks" :is-list-root="true" @click-task="inTask => $emit('click-task', inTask)" @specific-click-task="inTask => $emit('specific-click-task', inTask)"></task-list>
            </div>
            <div v-show="tab == 'times'">
                <h4 v-show="task.times.length > 0">Time Logs: </h4>
                <h4 v-show="task.times.length == 0">No time logs yet!</h4>
                <task-card-timer :times="task.times"></task-card-timer>
                <task-card-timing :times="task.times" :task="task" :bread-crumbs="breadCrumbs"></task-card-timing>
            </div>
            <div v-show="tab == 'calendar'">
                Calendar goes here!
            </div>
        </main>
        <footer class="border-group border-group--horizontal">
            <button v-if="!task.completed" class="grow light2 outline" @click="completeTask()">
                Complete Task
            </button>
            <button v-if="task.completed" class="grow light2 outline" @click="unCompleteTask()">
                Un-Complete Task
            </button>
            <button @click="clearTaskFromStack()" class="grow light1 outline">
                Close Task
            </button>
            <button v-if="!showDelete" class="grow magenta outline" @click="deleteTask()">
                Delete Task
            </button>
            <button v-if="showDelete" class="grow light1 outline" @click="deleteTaskCancel()">
                Cancel Task Delete
            </button>
            <button v-if="showDelete" class="grow magenta outline" @click="deleteTaskConfirm()">
                Confirm Task Delete
            </button>
        </footer>        
    </div>
</script>

<script id="task-card-timer" type="text/x-template">
    <div class="row centered-row">
        <div class="width-7 margin-bottom-0_5">
            <input class="big light2" type="text" id="new-task-title" v-if="!isTiming" v-model="timerTitle"  @keyup.enter="startTimer" placeholder="Enter time log title . . ."/>
            <input class="big danger1" type="text" id="new-task-title" v-if="isTiming" v-model="times[0].title"/>
        </div>
        <div class="width-5 min-width-17 ">
            <span class="stopwatch" :class="{'timer-in-progress': isTiming}">{{ stopwatch }}</span>
        </div>
        <div class="width-12 border-group border-group--horizontal margin-bottom-0_5">
            <button v-if="!isTiming" @click="startTimer" class="light2 outline grow">
                Start Timer
            </button>
            <button v-if="isTiming" @click="stopTimer" class="magenta outline grow">
                Stop Timer
            </button>
            <button  v-if="!isTiming && times.length > 0" @click="continuePrevious" class="light2 outline">
                Continue with "{{ times[0].title | truncate(40, ' . . .')}}"
            </button>
        </div>
    </div>
</script>

<script id="task-card-timing" type="text/x-template">
    <ul class="list-blank no-left-margin">
        <li v-for="(time, index) in times.slice(0,currentPageSize)">
            <h5 v-text="(breadCrumbs.length > 0 ? breadCrumbs : task.title) +' -> ' + time.title"></small></h5>
            <p>
                Started: {{ time.begin | date }}<br/>
                <span v-if="time.end">Ended: {{ time.end | date }}</span>
            </p>
        </li>
        <button v-show="times.length > currentPageSize" @click="showMore()">
            Show More
        </button>
    </ul>
</script>

<!-- APP -->
<script src="js/components.js"></script>
<script src="js/tasker.js"></script>
</html>

